{% load static %}

<html dir="rtl">
<html>

<head>
    <!--- responsive design for mobile 2018-09-04 -->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">

    <script src="//cdn.optimizely.com/js/2176600186.js"></script>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>

    <meta property="fb:admins" content="100002232956733"/>

    <link rel="shortcut icon" href="images/favicon.ico"/>
    <link rel="alternate" type="application/rss+xml" title="Mima RSS" href="rss.php"/>

    <style><!--
    body, td, a, p {
        font-family: arial, sans-serif;
    }

    /
    /
    -->
    </style>

    <title> מימה - כל מה שרצית לדעת </title>
    <!--spot.im
    <script type="text/javascript">!function(t,e,n){function a(t){var a=e.createElement("script");a.type="text/javascript",a.async=!1,a.src=("https:"===e.location.protocol?"https":"http")+":"+n,(t||e.body||e.head).appendChild(a)}function o(){var t=e.getElementsByTagName("script"),n=t[t.length-1];return n.parentNode} var p=o();t.spotId="sp_DUk6M36D",t.parentElement=p,a(p)}(window.SPOTIM={},document,"//www.spot.im/launcher/bundle.js");</script>
    <!--end spot.im-->
</head>

<body>
<p>
<p>
    <center>
        <a href=".">
            <img src="{% static 'images/logo.gif' %}" alt="" border=0/>
        </a>
<p>


<form action=" search_result.php" method="post" name="searchIndex">
    <input type="text" align="right" name="search"/>
    <input type="submit" value="הולך מחפשת" name="search_btn"/>
</form>

<p>
    דפדף לפי שם אמן:
    <br>

<table border="0">
    <tr>
        {% for letter in letters %}
            <td bgcolor="#CCFFCC"><a href="artist/{{ letter }}"> {{ letter }} </a></td>
        {% endfor %}
    </tr>
</table>

<p>
    דפדף לפי שם שיר:
    <br>

<table border="0">
    <tr>
              {% for letter in letters %}
            <td bgcolor="#FFCCC"><a href="/song/{{ letter }}"> {{ letter }} </a></td>
        {% endfor %}
    </tr>
</table>

<p>

    <a href="add_fact.php"> הוסף עובדה חדשה </a> &nbsp;<!-- <a href="ask.php"> שאל את מימה </a> &nbsp; -->
    <a href="questions.php">שאלות ללא תשובות </a> &nbsp;
    <a href="last_updates.php"> מה חדש </a> &nbsp;
    <a href="random.php"><b> תפתיעי אותי </b></a> &nbsp;


<p>
    <!-- FB comments

    -->
<p>


    <!--
    <p>
    עקבו אחרי מימה ב
    <a href="http://www.facebook.com/pages/mymh/339168511576" target="_blank"><img src="images/MIfacebook.jpg" border="0" align="top"></a>
    -->
<p>
    <font size="-2">
        <a href="rss.php"> RSS</a> &nbsp;
        <a href="term.php"> תנאי שימוש</a> &nbsp;
        <a href="http://www.tipul.me" target="_blank"> פסיכולוגית</a> &nbsp;
        <a href="http://www.tipul.me" target="_blank"> פסיכולוג </a> &nbsp;
        <a href="todot.php"> תודות</a> &nbsp;
        <a href="contact.php"> צור קשר</a>
    </font>
    <br>
    מימה, 2020</center>

    <!-- analytics -->
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-2162706-10']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();

    </script>


    <!-- start Mixpanel -->
    <script type="text/javascript">(function (e, b) {
        if (!b.__SV) {
            var a, f, i, g;
            window.mixpanel = b;
            b._i = [];
            b.init = function (a, e, d) {
                function f(b, h) {
                    var a = h.split(".");
                    2 == a.length && (b = b[a[0]], h = a[1]);
                    b[h] = function () {
                        b.push([h].concat(Array.prototype.slice.call(arguments, 0)))
                    }
                }

                var c = b;
                "undefined" !== typeof d ? c = b[d] = [] : d = "mixpanel";
                c.people = c.people || [];
                c.toString = function (b) {
                    var a = "mixpanel";
                    "mixpanel" !== d && (a += "." + d);
                    b || (a += " (stub)");
                    return a
                };
                c.people.toString = function () {
                    return c.toString(1) + ".people (stub)"
                };
                i = "disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config reset people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
                for (g = 0; g < i.length; g++) f(c, i[g]);
                b._i.push([a, e, d])
            };
            b.__SV = 1.2;
            a = e.createElement("script");
            a.type = "text/javascript";
            a.async = !0;
            a.src = "undefined" !== typeof MIXPANEL_CUSTOM_LIB_URL ? MIXPANEL_CUSTOM_LIB_URL : "file:" === e.location.protocol && "//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//) ? "https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js" : "//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";
            f = e.getElementsByTagName("script")[0];
            f.parentNode.insertBefore(a, f)
        }
    })(document, window.mixpanel || []);
    mixpanel.init("1c4a34cd22c96f9ae2299ceaad692e5f");</script><!-- end Mixpanel -->

    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window,
            document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');

        fbq('init', '1726291714306894');
        fbq('track', "PageView");</script>
<noscript><img height="1" width="1" style="display:none"
               src="https://www.facebook.com/tr?id=1726291714306894&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->


</body>
<!-- Oribi.io -->
<script type="application/javascript">
    (function (b, o, n, g, s, r, c) {
        if (b[s]) return;
        b[s] = {};
        b[s].scriptToken = "XzU3NzIxMzcwNQ";
        r = o.createElement(n);
        c = o.getElementsByTagName(n)[0];
        r.async = 1;
        r.src = g;
        r.id = s + n;
        c.parentNode.insertBefore(r, c);
    })(window, document, "script", "//cdn.oribi.io/XzU3NzIxMzcwNQ/oribi.js", "ORIBI");
</script>
</html>
